{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="mb-3">パスワードリセットの確認</h2>
        <form method="post" class="border p-4 rounded">
          {% csrf_token %}
          <table class="table">
            <tr>
              <td>{{ form.new_password1.label }}</td>
              <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
              <td>{{ form.new_password2.label }}</td>
              <td>{{ form.new_password2 }}</td>
            </tr>
          </table>
          <button type="submit" class="btn btn-primary">パスワードを変更する</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
