{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="mb-3">パスワードリセット</h2>
        <form method="post" class="border p-4 rounded">
          {% csrf_token %}
          <table class="table">
            <tr>
              <td>{{ form.email.label }}</td>
              <td>{{ form.email }}</td>
            </tr>
          </table>
          <button type="submit" class="btn btn-primary">パスワードリセットリンクを送信</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
