<!--/sphere/todos/templates/todos/todo_detail.html-->

{% extends 'base.html' %}

{% block content %}
<h1>Todo Details</h1>

<table class="table">
    <tr>
        <th>Title</th>
        <td>{{ todo.title }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ todo.description }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ todo.status }}</td>
    </tr>
    <tr>
        <th>Assignee</th>
        <td>{{ todo.assignee }}</td>
    </tr>
    <tr>
        <th>Approver</th>
        <td>{{ todo.approver }}</td>
    </tr>
    <tr>
        <th>Client</th>
        <td>{{ todo.client }}</td>
    </tr>
    <tr>
        <th>Fiscal Year</th>
        <td>{{ todo.fiscal_year }}</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>{{ todo.category }}</td>
    </tr>
    <tr>
        <th>Deadline</th>
        <td>{{ todo.deadline }}</td>
    </tr>
    <!-- その他のフィールドを必要に応じて追加 -->
</table>

<a href="{% url 'todo_list' request.user.office.office_id %}" class="btn btn-primary mt-3">Back to list</a>
{% endblock %}
