<!-- /sphere/templates/base.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Sphere Application</title>
    <!-- Bootstrap CSS の追加 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Google Fontsの読み込み -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|M+PLUS+Rounded+1c|Open+Sans|Inter|Pacifico|Courgette&display=swap" rel="stylesheet">
    <!-- CSS変数の定義 -->
    <style>
        :root {
            --s-font-698a3d3a: 'Noto Sans JP', sans-serif;
            --s-font-2dbebba8: 'M PLUS Rounded 1c', sans-serif;
            --s-font-5c85bb27: 'Open Sans', sans-serif;
            --s-font-79986332: 'Inter', sans-serif;
            --s-font-1c8d79d9: 'Pacifico', cursive;
            --s-font-a98a718b: 'Courgette', cursive;
        }

        /* フォントスタイルの適用 */
        body {
            font-family: 'Inter', 'YakuHanJPs_Noto', 'Noto Sans JP', system-ui, sans-serif;
        }
    </style>
</head>
<body>
    <!-- ヘッダーメニュー -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Sphere</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/{{ user.office.office_id }}/todo/">Todo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'timesheet' user.office.office_id %}">タイムシート</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/{{ user.office.office_id }}/users/">ユーザー</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/{{ user.office.office_id }}/client/">クライアント</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'chat_room' %}">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">サインイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- メッセージの表示エリア -->
    <div class="container mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Bootstrap の JavaScript と依存する Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
